$mainColor: #283972;

@mixin flexCenter {
  display: flex;    
  justify-content: center;
  align-items: center;
}

.app {
  @include flexCenter();
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 60vw;
  margin-top: 10%;
  background-color: whitesmoke;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius:5px;
  .dashHeader {
    display: flex;
    align-self: flex-start;
    background-color: $mainColor;
    min-height: 10%;
    width: 100%;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}



